<h1>Issue a new API token</h1>
<%= form_with model: @api_token, url: admin_api_tokens_path, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <% if current_user.platform_admin? %>
    <div>
      <%= f.label :organization_id, "Organization" %>
      <%= f.collection_select :organization_id, Organization.order(:name), :id, :name %>
    </div>
  <% end %>
  <div>
    <%= f.label :ttl_days, "Expires in (days)" %>
    <%= f.number_field :ttl_days, value: 90, min: 1, max: 365 %>
  </div>
  <%= f.submit "Issue token" %>
<% end %>
